*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

p{
    text-align: justify;
    margin: 20px 7px 20px 10px;
}

.corpo{
    background-color: #D3D3D3;
}

a[href="#top"] {
    padding: 0px;
    position: fixed;
    top: 90%;
    right: 40px;
    display: none;
    font-size: 30px;
}
a[href="#top"]:hover {
    text-decoration: none;
}

.cabecalho{
    width: 100%;
    height: 200px;
}

.Menu{
    width:100%;
    background-color: #1C1917;
    color: #fff;
    padding: 0px;
    text-align: center;
    margin: 0px;
    transition: max-height 0.5s;
}

ul li{
    display: inline-block;
    padding: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: blue;
}

h1{
    text-align: center;
}

.pagina{
    background-color: white;
    width: 85%;
    height:  950px;
    border-style: groove;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

div.galeria {
    box-shadow: 5px 5px 10px #999;
    margin: 15px;
    border: 1px solid #ccc;
    float: left;

}

div.galeria:hover {
    border: 1px solid #777;
}

div.galeria img {
    width: 350px;
    height: 200px;  
    
}

div.desc {
    padding: 15px;
    text-align: center;
}

.zoom img {
    max-width: 100%;
    transition: all 0.3s;
}
.zoom:hover img {
    transform: scale(1.6);
}


.contatos{
    width:100%;
    height: 115px;
    background-color: #1C1917;
    color: #fff;
    padding: 0px;
    margin-top: 5px;
    text-align: center;
}

.nomes{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}