*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

p{
	text-align: justify;
	margin: 20px 7px 20px 10px;
	padding: 20px;
	font-size: 17px;
}

.corpo{
	background-color: #D3D3D3;
}

a[href="#top"] {
    padding: 0px;
    position: fixed;
    top: 90%;
    right: 40px;
    display: none;
    font-size: 30px;
}
a[href="#top"]:hover {
    text-decoration: none;
}

.cabecalho{
	width: 100%;
	height: 200px;
}


.Menu{
	width:100%;
	background-color: #1C1917;
	color: #fff;
	padding: 0px;
	text-align: center;
	margin: 0px;
	transition: max-height 0.5s;
}

ul li{
	display: inline-block;
	padding: 20px;
}

ul li a{
	color: white;
}

ul li a:hover{
	color: blue;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

.link{
	text-align: center;
}

.pagina{
	background-color: white;
	width: 80%;
	height: auto;
	border-style: groove;
	border-radius: 5px;
	border-width: 15px;
	margin: auto;
	margin-top: 5px;
	padding-top: 50px;
}

.quadro{
	width: 75%;
	margin-right: 150px;
	margin-left: 150px;
}

#teste{
	margin-right: 5px;
}

.contatos{
	width:100%;
	height: 170px;
	background-color: #1C1917;
	color: #fff;
	padding: 0px;
	text-align: center;
	margin-top: 5px;
}

.nomes{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}