
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

p{
	text-align: justify;
	margin: 20px 7px 20px 10px;
	font-size: 17px;
}

.corpo{
	background-color: #D3D3D3;
}

.cabecalho{

	width: 100%;
	height: 200px;

}


.Menu{

	width:100%;
	background-color: #1C1917;
	color: #fff;
	padding: 0px;
	text-align: center;
	margin: 0px;
	transition: max-height 0.5s;

}

ul li{

	display: inline-block;
	padding: 20px;
}

ul li a{

	text-decoration: none;
	color: white;
}
ul li a:hover{
	color: blue;
}
.pagina{
	background-color: white;
	width: 775px;
	height: 400px;
	border-style: groove;
    border-radius: 5px;
    border-width: 15px;
	margin: auto;
	margin-top: 5px;
	padding: 20px;

}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

.video{
	margin: 10px;
}

.contatos{
	width:100%;
	height: 115px;
	background-color: #1C1917;
	color: #fff;
	padding: 0px;
	text-align: center;
	margin-top: 5px;
}

.nomes{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}